@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to left bottom, #10bfc7, #00afe4, #0098fb, #4c74f7, #b032cb
  );
}

h1 {
  text-align: center;
}

table {
  background-color: rgb(240, 248, 255);
  text-align: center;
  font-size: 14px;
}

td, th {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: rgb(168, 218, 213)
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.container-1 {
  background-color: #f0f0f0;
  color: #1A1D1D;
}

.container-2 {
  background-color: #f0f0f0;
}

.container-2 h1 {
  color: #1A1D1D
}

.content-1 {
  display: flex;
  flex-direction: column;
}

.input-time {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 0.9rem;
}

.span-error {
  color: red;
  font-size: 14px;
  font-weight: 900;
  margin-top: 5px;
  text-align: center;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 800;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:disabled {
  background-color: #7b7579;
}

.table-row {
  color: #1A1D1D;
  font-weight: 650;
  font-size: 16px;
}

.label-percentage-hours {
  margin-top: 15px;
  color:#1A1D1D;
  font-size: 14px;
}

.select-percentage-hours {
  margin-top: 3px;
}

.container-3 h1 {
  color: #1A1D1D;
  margin-bottom: 15px;
  text-align: center;
}

.icons {
  width: 20px;
}

.container-toggle {
  color: #fff;
  visibility: hidden;
}
